@page
@using Microsoft.CodeAnalysis.Differencing
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>
<!--
<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-floating">
                <input asp-for="Input.firstname" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.firstname"></label>
                <span asp-validation-for="Input.firstname" class="text-danger"></span>
            </div>

            <div class="form-floating">
                <input asp-for="Input.lastname" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.lastname"></label>
                <span asp-validation-for="Input.lastname" class="text-danger"></span>
            </div>

            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>

-->


<section class="text-center text-lg-start">
    <style>
        .cascading-right {
            margin-right: -20px;
        }

        @@media (max-width: 991.98px) {
            .cascading-right {
                margin-right: 0;
            }
        }
    </style>

    <div class="text-center">
      
        <div class="container py-2 mx-auto">
            <div class="row g-0 justify-content-center">
                <div class="col-lg-4 mb-3 ">
                    <div class="card cascading-right" style="
                background: hsla(0, 0%, 100%, 0.55);
                backdrop-filter: blur(30px);
                ">
                        <div class="card-body p-3 shadow-5 text-center">
                            <h2 class="fw-bold mb-3">Create your account</h2>
                            <hr class="mb-4"/>

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                              
                                <div class="row gx-2">
                                    <div class="col-md-6 mb-3">
                                        <div class="form-outline">
                                            <label asp-for="Input.firstname">First name</label>
                                            <input asp-for="Input.firstname" class="form-control" autocomplete="username" aria-required="true"  />
                                            <span asp-validation-for="Input.firstname" class="text-danger"></span>
                                        </div>
                                    </div>


                                    <div class="col-md-6 mb-3">
                                        <div class="form-outline">
                                            <label asp-for="Input.lastname">Last name</label>
                                            <input asp-for="Input.lastname" class="form-control" autocomplete="username" aria-required="true"  />
                                            <span asp-validation-for="Input.lastname" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>

                              
                                <div class="form-outline mb-3">
                                    <label asp-for="Input.Email">Email address</label>
                                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true"  />
                                
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>

                              
                                <div class="form-outline mb-3">
                                    <label asp-for="Input.Password">Password</label>
                                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true"  />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>

                              
                                <div class="form-outline mb-3">
                                    <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true"  />
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>

                              
                                <button id="registerSubmit" type="submit" class="btn btn-primary btn-block mb-3">
                                    Register
                                </button>

                               
                                <div class="text-center">
                                    <p>or sign up with:</p>
                                    <button type="button" class="btn btn-link btn-floating mx-1">
                                        <i class="fab fa-facebook-f"></i>
                                    </button>

                                    <button type="button" class="btn btn-link btn-floating mx-1">
                                        <i class="fab fa-google"></i>
                                    </button>

                                    <button type="button" class="btn btn-link btn-floating mx-1">
                                        <i class="fab fa-twitter"></i>
                                    </button>

                                    <button type="button" class="btn btn-link btn-floating mx-1">
                                        <i class="fab fa-github"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mb-3 ">
                    <img src="https://mdbootstrap.com/img/new/ecommerce/vertical/004.jpg" class="w-100 rounded-4 shadow-4"
                         style="max-height: 540px;max-width:70%;" alt="" />
                </div>
            </div>
        </div>
    </div> 
</section>
 


    <div class="col-md-6 col-md-offset-2">
        <section>
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {   <!--
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                    -->
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                      <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                        
                    </form>
                }
            }
        </section>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
